.c-Notification {
    margin: 1em 0;
    padding: .5em;
    border: 2px solid #0654ba;

    .icon {
        width: 1.2em;
        height: 1.2em;
        float: left;
        margin-right: 1em;

        &.icon--info {
            background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZmlsbD0iIzA2NTRiYSIgZD0iTTEyLjAwNyA5Ljc1M2EuODQ5Ljg0OSAwIDAgMC0uODQ5Ljg0OXY2LjU1M2EuODUuODUgMCAwIDAgMS42ODMuMDA0di02LjU1N2EuODQ5Ljg0OSAwIDAgMC0uODM0LS44NDl6bTEuMDU3LTIuODhhMS4wMTYgMS4wMTYgMCAxIDEtMi4wMzIgMCAxLjAxNiAxLjAxNiAwIDAgMSAyLjAzMiAwem0tMS4wNTcgMTcuMTQxQzUuMzc2IDI0LjAxNCAwIDE4LjYzOCAwIDEyLjAwNyAwIDUuMzc2IDUuMzc2IDAgMTIuMDA3IDBjNi42MzEgMCAxMi4wMDcgNS4zNzYgMTIuMDA3IDEyLjAwN3YuMDE1Yy0uMDA4IDYuNjI1LTUuMzgxIDExLjk5Mi0xMi4wMDcgMTEuOTkyem0wLTIyLjI2MWMtNS42NzEgMC0xMC4yNjggNC41OTctMTAuMjY4IDEwLjI2OHM0LjU5NyAxMC4yNjggMTAuMjY4IDEwLjI2OCAxMC4yNjgtNC41OTcgMTAuMjY4LTEwLjI2OFMxNy42NzggMS43NTMgMTIuMDA3IDEuNzUzeiIvPjwvc3ZnPg==')
        }
    }
}