.c-Delivery {
    clear: both;

    table.delivery-services {
        border-collapse: collapse;
        width: 100%;

        th, 
        td {
            padding: .4em;
            vertical-align: top;
            
            @media screen and (min-width: 420px) {
                padding: 1em;
            }
        }

        th {
            text-align: left;
            background-color: lightgrey;
        }

        h3 {
            margin-top: 0;
        }

        .price {
            text-align: right;
        }

    }
}